<div class="badge badge-primary text-center text-light font-weight-bold">Register</div>
<form class="form-control mt-4">
    <div class="row">
        <div class="form-group col-md-6 ">
            <input name="text" class="form-control" id="firstName" placeholder="Enter Firstname" />
        </div>
        <div class="form-group ">
            <input type="text" class="form-control" name="lastName" placeholder="Enter Lastname" />
        </div>
    </div>
    <div class="row">
        <div class="form-group ">
            <input name="password" class="form-control" id="passwrod1" placeholder="Enter Password" />
        </div>
        <div class="form-group ">
            <input type="password" class="form-control" name="password2" placeholder="Retype Password" />
        </div>
    </div>
    <div class="form-group justify-content-center">
        <input type="submit" class="form-control btn btn-success btn-md" />
    </div>
</form>